<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="IndexOf is a database of Google queries (but we are not from Google), search for data not normally found.">
    <meta name="author" content="Messias Mrt">
    <meta name="keywords" content="dorks, dorks, google, hacking, querys, indexof, index of, inurl">
    <title>IndexOf - Deep Search Google</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/4.0/examples/cover/cover.css" rel="stylesheet">
    <style> /*search box css start here*/ .search-sec{ padding: 2rem; } .search-slt{ display: block; width: 100%; font-size: 0.875rem; line-height: 1.5; color: #55595c; background-color: #fff; background-image: none; border: 1px solid #ccc; height: calc(3rem + 2px) !important; border-radius:0; } .wrn-btn{ width: 100%; font-size: 16px; font-weight: 400; text-transform: capitalize; height: calc(3rem + 2px) !important; border-radius:0; } .search-sec{ {#position: relative;#} {#top: -114px;#} background: rgba(26, 70, 104, 0.51); }  body {box-shadow: inset 0 0 5rem rgb(0, 0, 0); font-family: 'Open Sans', sans-serif;} .search-sec{background: #1A4668;} .btn-group-sm>.btn, .btn-sm {border-radius: 0; box-shadow: 3px 3px 0px 0px #7da6d2; width: 100%;} </style>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>

<body class="text-center">
<div class=" container-fluid d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto container">
        <div class="inner">
            <h3 class="masthead-brand">IndexOf</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="{% url 'index' %}">Index</a>
                {#                <a class="nav-link" href="#">Features</a>#}
                {#                <a class="nav-link" href="#">Contact</a>#}
            </nav>
        </div>
    </header>
    <main role="main" class="inner cover">
        {% block conteudo %}

        {% endblock %}
    </main>
    <footer class="mastfoot mt-auto text-center">
        <div class="inner">
            <p>Dork database - <a href="/">IndexOf</a>, by <a href="https://t.me/@t_hat">@tr_hat</a>.</p>
        </div>
    </footer>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="https://gist.githubusercontent.com/adimancv/bc805af3b7fd9e015584c0f061b4206c/raw/fa29bc30c0131095d6380085c42a3ea8d5d24054/jquery-3.3.1.slim.min.js"><\/script>')</script>
<script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
<script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
</body>
</html>