{% extends 'base.html' %}

{% block conteudo %}
    <h1 class="cover-heading text-center">Select a query</h1>
    <section class="search-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        {% if dorks %}
                            <div class="button-group-area" align="center">
                                <div class="row">
                                    {% for dork in dorks %}
                                        <div class="col-md" title="{{ dork.explanation }}">
                                            <div class="form-check">
                                                {% if dork.dork == 'music:' %}
                                                    <a style="text-decoration: none;" href="{% url 'search-music' %}">
                                                {% else %}
                                                    <a style="text-decoration: none;" href="{% url 'get_query' dork.id %}">
                                                {% endif %}
                                                    <input type="button" class="btn-sm btn-primary" id="{{ dork.tag }}" value="{{ dork.tag }}">
                                                </a>
                                                <label class="form-check-label" for="{{ dork.tag }}"></label>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% else %}
                            <div class="col-md">
                                <h5 class="text-danger">Dorks not found!</h5>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock%}