{% extends 'base.html' %}

{% block conteudo %}
    <section class="search-sec">
        <div class="container">
            <h5 class="cover-heading text-center" id="dorkfield">You have selected the query <b>{{ dork.tag }}</b></h5>
            <pre class="card" style="text-align: left; padding: 5px;">{{ dork.explanation|safe}}</pre>
            <form method="get" action="{% url 'search' dork.dork %}" target="_blank">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                        <code class="text-lowercase" disabled style="font-size: 100%; text-align: left">{{ dork.dork }}</code>
                        <div class="row">
                            {% if dork.query == 'Yes' %}
                            <div class="col-lg col-md col-sm p-0">
                                <input type="text" name="query" class="form-control search-slt" placeholder="Enter a condition" autocomplete="off">
                            </div>
                            {% endif %}
                            <div class="col-md container" style="max-width: 50%;">
                                <button type="submit" class="btn btn-dark wrn-btn">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock%}